@import "../../variables.scss";

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .project-description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .project-link {
    font-size: 1.5rem;
    color: #007bff;
  }
  .project-cover {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    display: flex;

    .image-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      opacity: 0.4;
      filter: blur(5px);
      background-position: top;
    }

    .title-container {
      position: absolute;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .project-title {
        font-size: 2rem;
        color: $strong-text-color;
        box-shadow: 0 0 2px 0 #000;
        background-color: $content-background;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }

      .project-subtitle {
        font-size: 1.2rem;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }

  .project-content-container {
    background-color: $content-background;
    margin-top: -2%;
    width: 60vw;
    padding: 2%;
    position: relative;
    z-index: 10;
    border-radius: 1rem;
    border: 1px solid #000;

    @media (max-width: 768px) {
      width: 80vw;
      padding: 5%;
      font-size: 0.7rem;
    }

    .project-content {
      p {
        text-align: justify;
        text-indent: 1rem;
      }
      img {
        width: 3in;
        margin-left: calc((100% - 3in)/2);
      }
      span {
        margin-left: 1rem;
      }
    }
  }
}
