@import "../../variables.scss";

.navbar {
    margin-inline: 13%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
            padding-inline: 20px;
            font-size: 1em;

            &.active a {
                color: $nav-hover-color;
            }
        }
    }

    a {
        text-decoration: none;
        color: $strong-text-color;

        &:hover {
            color: $nav-hover-color;
            cursor: pointer;
        }
    }

    .logo {
        font-size: 2em;
        font-weight: bold;
        color: $strong-text-color;

        i {
            margin-right: 20px;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    @media screen and (max-width: 768px){
        flex-direction: column;
        margin-inline: 0;
        margin-top: 0;
        justify-content: center;

        .logo {
            font-size: 1.4em;
        }

        ul {
            margin: 0;
            margin-bottom: 20px;
            padding: 0;
            li {
                font-size: 0.8em;
            }
        }
    }
}