<swiper-container 
    navigation="true"
    pagination-clickable="true" 
    class="carousel" 
    speed="500" 
    pagination="true"
    breakpoints='{"0": {"slidesPerView": 1}, "768": {"slidesPerView": 2}, "1200": {"slidesPerView": 3}}'
    space-between="30"
    >
    @for(key of keys; track slides[key].title){
    <swiper-slide class="carousel-slide">
        <img src="{{slides[key].src}}" alt="Imagem do projeto {{slides[key].title}}">
        <div class="carousel-slide-content">
            <h2>{{slides[key].title}}</h2>
            <p>({{slides[key].subheader}})</p>
            <p>{{slides[key].description}}</p>
        </div>
            <button (click)="openProject(key)">{{slides[key].btnText? slides[key].btnText : 'Ver mais'}}</button>
        
    </swiper-slide>
    }
</swiper-container>