$background-color: #fbfbfb;
$strong-text-color: #445964;
$light-text-color: #b5bbbe;
$button-color: #263138;
$nav-hover-color: #2d9cdb;
$background-chart: #3f4045;
$button-chart: #3e65e4;
$content-background: #f5f5f5;